<h1>お気に入り一覧</h1>
<table class="center-block">
  <% @favorites.each do |blog| %>
    <tr>
      <th>投稿画像</th>
      <th>ユーザー</th>
    </tr>
    <tr>
      <td><%= image_tag(blog.image.url, class: "image_tag") %></td>
      <td><%= blog.user.name %></td>
    </tr>
  <% end %>
</table>
