<% @favorites.each do |blog| %>
　<div>
    <%= link_to "#{blog.user.name}さんの投稿", user_path(blog.user.id), class:"user_link" %>
  </div>
  <div>
    <%= link_to image_tag(blog.image.url, class: "image_tag image_favorite"), blog_path(blog.id) %>
  </div>
<% end %>
